<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <p>Hi,</p>
    <p>Welcome to QuickSight where you can log in and see the One Login Dashboards.</p>
    <p>
      Please find your login details below. These will expire in 7 days. You will have to change your password and set
      up Multi Factor Authentication when you first log in.
    </p>

    <table>
      <tr>
        <th>Login link</th>
        <td>
          <a href="https://eu-west-2.quicksight.aws.amazon.com/sn/auth/signin?enable-sso=1"
            >https://eu-west-2.quicksight.aws.amazon.com/sn/auth/signin?enable-sso=1</a
          >
        </td>
      </tr>
      <tr>
        <th>Account name</th>
        <td>dap-production</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{username}</td>
      </tr>
      <tr>
        <th>Password</th>
        <td><code>{####}</code></td>
      </tr>
    </table>

    <p>
      Please find more detailed instructions
      <a
        href="https://docs.google.com/document/d/18PEJBoAAK4SemJMfBA_OL8Fm1cmSX2oKnhlk1R32f1A/edit?usp=sharing"
        target="_blank"
        >here</a
      >.
    </p>
    <p>
      If you need further support please send an email to
      <a href="mailto:data-analytics-one-login@digital.cabinet-office.gov.uk"
        >data-analytics-one-login@digital.cabinet-office.gov.uk</a
      >.
    </p>

    <div>Thank you</div>
    <div>Data & Analytics Team</div>
    <div><a href="https://gov.uk" target="_blank">GOV.UK</a> One Login</div>
    <div>Digital Identity</div>
  </body>
</html>
