<!doctype html>
<html lang="en">
  <body>
    <p>Hi,</p>
    <p>Your password reset code is <code>{####}</code>.</p>
    <p>
      Please find more detailed instructions
      <a
        href="https://docs.google.com/document/d/18PEJBoAAK4SemJMfBA_OL8Fm1cmSX2oKnhlk1R32f1A/edit?usp=sharing"
        target="_blank"
        >here</a
      >.
    </p>
    <p>
      If you need further support please send an email to
      <a href="mailto:data-analytics-one-login@digital.cabinet-office.gov.uk"
        >data-analytics-one-login@digital.cabinet-office.gov.uk</a
      >.
    </p>

    <div>Thank you</div>
    <div>Data & Analytics Team</div>
    <div><a href="https://gov.uk" target="_blank">GOV.UK</a> One Login</div>
    <div>Digital Identity</div>
  </body>
</html>
