name: Deploy to an AWS environment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      skip-s3-upload:
        type: boolean
        required: false

jobs:
  validate-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Validate input environment
        run: scripts/validate-environment.sh -d ${{ inputs.environment }}

  validate-branch-ahead:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # check out full history
      - name: Validate ahead of main
        run: scripts/validate-branch-ahead.sh

  upload-athena-files:
    if: inputs.skip-s3-upload == false
    needs: [validate-environment, validate-branch-ahead]
    secrets: inherit
    uses: ./.github/workflows/upload-athena-files.yml
    with:
      environment: ${{ inputs.environment }}

  deploy-to-aws:
    needs: [validate-environment, validate-branch-ahead]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Node setup
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build
      - name: SAM setup
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
          version: 1.93.0
      - name: SAM build
        run: sam build
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[format('GH_ACTIONS_ROLE_ARN_{0}', inputs.environment)] }}
      - name: Trigger secure pipeline deployment
        uses: alphagov/di-devplatform-upload-action@v3.3
        with:
          artifact-bucket-name: ${{ secrets[format('ARTIFACT_BUCKET_NAME_{0}', inputs.environment)] }}
          signing-profile-name: ${{ secrets[format('SIGNING_PROFILE_NAME_{0}', inputs.environment)] }}
          working-directory: .
