name: Deploy to the build environment

on:
  push:
    branches:
      - main

jobs:
  check-core-iac-changes:
    runs-on: ubuntu-latest
    outputs:
      core-iac-changed: ${{ steps.changes.outputs.core }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0
      - name: Check for changes to core iac
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: changes
        with:
          filters: |
            core:
              - 'iac/core/**'

  deploy-to-build:
    needs: [check-core-iac-changes]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/deploy-to-aws.yml
    with:
      core-iac-changed: ${{ needs.check-core-iac-changes.outputs.core-iac-changed }}
      environment: BUILD
