name: Deploy to an AWS environment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      skip-s3-upload:
        type: boolean
        required: false
      core-iac-changed:
        type: string
        required: true

jobs:
  validate-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Validate input environment
        run: scripts/validate-environment.sh -d ${{ inputs.environment }}

  validate-branch-ahead:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0 # check out full history
      - name: Validate ahead of main
        run: scripts/validate-branch-ahead.sh

  upload-athena-files:
    if: inputs.skip-s3-upload == false
    needs: [validate-environment, validate-branch-ahead]
    secrets: inherit
    uses: ./.github/workflows/upload-athena-files.yml
    with:
      environment: ${{ inputs.environment }}

  deploy-main-application:
    needs: [validate-environment, validate-branch-ahead, upload-athena-files]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- main
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[format('GH_ACTIONS_ROLE_ARN_{0}', inputs.environment)] }}
      - name: Trigger secure pipeline deployment
        uses: govuk-one-login/devplatform-upload-action@b7bc01ed6e0b61d54f42e7f3d12dd3fdbb0f172a # v3.13.0
        with:
          artifact-bucket-name: ${{ secrets[format('ARTIFACT_BUCKET_NAME_{0}', inputs.environment)] }}
          signing-profile-name: ${{ secrets[format('SIGNING_PROFILE_NAME_{0}', inputs.environment)] }}
          working-directory: .

  deploy-quicksight-access-application:
    needs: [validate-environment, validate-branch-ahead, upload-athena-files]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- quicksight-access
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[format('GH_ACTIONS_ROLE_ARN_QUICKSIGHT_ACCESS_{0}', inputs.environment)] }}
      - name: Trigger secure pipeline deployment
        uses: govuk-one-login/devplatform-upload-action@b7bc01ed6e0b61d54f42e7f3d12dd3fdbb0f172a # v3.13.0
        with:
          artifact-bucket-name: ${{ secrets[format('ARTIFACT_BUCKET_NAME_QUICKSIGHT_ACCESS_{0}', inputs.environment)] }}
          signing-profile-name: ${{ secrets[format('SIGNING_PROFILE_NAME_{0}', inputs.environment)] }}
          working-directory: .

  deploy-core-application:
    needs: [validate-environment, validate-branch-ahead, upload-athena-files]
    if: ${{ inputs.core-iac-changed == 'true' }}
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- core
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[format('GH_ACTIONS_ROLE_ARN_CORE_{0}', inputs.environment)] }}
      - name: Trigger secure pipeline deployment
        uses: govuk-one-login/devplatform-upload-action@b7bc01ed6e0b61d54f42e7f3d12dd3fdbb0f172a # v3.13.0
        with:
          artifact-bucket-name: ${{ secrets[format('ARTIFACT_BUCKET_NAME_CORE_{0}', inputs.environment)] }}
          signing-profile-name: ${{ secrets[format('SIGNING_PROFILE_NAME_{0}', inputs.environment)] }}
          working-directory: .
