name: ✳️ Deploy to the production preview environment

on:
  workflow_dispatch:
    inputs:
      skip-s3-upload:
        type: boolean
        required: false
        description: Skip uploading athena files to S3

jobs:
  check-core-iac-changes:
    runs-on: ubuntu-latest
    outputs:
      core-iac-changed: ${{ steps.changes.outputs.core }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          fetch-depth: 0
      - name: Check for changes to core iac
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: changes
        with:
          filters: |
            core:
              - 'iac/core/**'

  deploy-to-production-preview:
    needs: [check-core-iac-changes]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/sam-deploy.yml
    with:
      core-iac-changed: ${{ needs.check-core-iac-changes.outputs.core-iac-changed }}
      lowercase-environment: production-preview

  upload-athena-files:
    if: inputs.skip-s3-upload == false
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/upload-athena-files.yml
    with:
      environment: PRODUCTION-PREVIEW
