name: ✳️ Export analysis from Quicksight

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
        description: AWS Environment
      analysisId:
        type: string
        required: true
        description: Id of the analysis to export (get from the url e.g. https://eu-west-2.quicksight.aws.amazon.com/sn/analyses/${analysisId})
      bucketName:
        type: string
        required: false
        description: Name of the S3 bucket to use for the export (defaults to \${lowercase_environment}-dap-quicksight-exports)
        default: 'unset'
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: AWS Environment
        options: [DEV, PRODUCTION, PRODUCTION-PREVIEW]
      analysisId:
        type: string
        required: true
        description: Id of the analysis to export (get from the url e.g. https://eu-west-2.quicksight.aws.amazon.com/sn/analyses/${analysisId})
      bucketName:
        type: string
        required: false
        description: Name of the S3 bucket to use for the export (defaults to \${lowercase_environment}-dap-quicksight-exports)
        default: 'unset'

jobs:
  invoke-quicksight-export-lambda:
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Get role name
        run: |
          # github doesn't allow secrets with hyphens so we need to make sure the role name
          # becomes QUICKSIGHT_LAMBDAS_INVOKE_ROLE_PRODUCTION_PREVIEW instead of QUICKSIGHT_LAMBDAS_INVOKE_ROLE_PRODUCTION-PREVIEW
          ENVIRONMENT_NO_HYPHEN=$(echo ${{ inputs.environment }} | sed 's/-/_/g')
          echo "ROLE_NAME=QUICKSIGHT_LAMBDAS_INVOKE_ROLE_$ENVIRONMENT_NO_HYPHEN" >> $GITHUB_ENV
      - name: Assume AWS Quicksight lambdas role
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[env.ROLE_NAME] }}
      - name: Invoke lambda
        run: |
          LOWERCASE_ENVIRONMENT=$(echo ${{ inputs.environment }} | tr '[:upper:]' '[:lower:]')
          echo "Environment is $LOWERCASE_ENVIRONMENT"

          BUCKET_NAME=${{ inputs.bucketName }}
          if [ -z "$BUCKET_NAME" ] || [ "$BUCKET_NAME" == "unset" ]; then
            BUCKET_NAME="$LOWERCASE_ENVIRONMENT-dap-quicksight-exports"
          fi
          echo "Bucket name is $BUCKET_NAME"

          PAYLOAD=$(echo "{\"analysisId\": \"${{ inputs.analysisId }}\", \"bucketName\": \"$BUCKET_NAME\"}")          
          echo "$PAYLOAD" | jq

          ENCODED=$(echo "$PAYLOAD" | openssl base64)
          aws --region eu-west-2 lambda invoke --function-name quicksight-export --payload "$ENCODED" out.json
          cat out.json | jq
