name: ✳️ Run flyway command on redshift

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: AWS environment
        options: [DEV, BUILD, STAGING, INTEGRATION, PRODUCTION, PRODUCTION-PREVIEW]
      command:
        type: choice
        required: true
        description: Flyway command to run
        options: [info, migrate, validate, repair, clean]
      database:
        type: string
        required: true
        description: Database on which to perform migrations

jobs:
  validate-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Validate input environment
        run: scripts/validate-environment.sh ${{ inputs.environment }}

  validate-database:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Validate input database
        run: scripts/validate-migration-database.sh ${{ inputs.database }}

  upload-flyway-files:
    needs: [validate-environment, validate-database]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/upload-flyway-files.yml
    with:
      environment: ${{ inputs.environment }}

  run-flyway:
    needs: [upload-flyway-files]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Get role name
        run: |
          # github doesn't allow secrets with hyphens so we need to make sure the role name
          # becomes DB_MIGRATION_ROLE_ARN_PRODUCTION_PREVIEW instead of DB_MIGRATION_ROLE_ARN_PRODUCTION-PREVIEW
          ENVIRONMENT_NO_HYPHEN=$(echo ${{ inputs.environment }} | sed 's/-/_/g')
          echo "ROLE_NAME=DB_MIGRATION_ROLE_ARN_$ENVIRONMENT_NO_HYPHEN" >> $GITHUB_ENV
      - name: Assume AWS DB migration role
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[env.ROLE_NAME] }}
      - name: Invoke lambda
        run: |
          PAYLOAD=$(echo "{\"command\": \"${{ inputs.command }}\", \"database\": \"${{ inputs.database }}\"}")
          echo "$PAYLOAD" | jq
          ENCODED=$(echo "$PAYLOAD" | openssl base64)
          aws --region eu-west-2 --cli-read-timeout 600 lambda invoke --function-name run-flyway-command --payload "$ENCODED" out.json
          cat out.json | jq
