name: SAM deploy

on:
  workflow_call:
    inputs:
      lowercase-environment:
        type: string
        required: true
      core-iac-changed:
        type: string
        required: true

jobs:
  test-and-validate:
    secrets: inherit
    uses: ./.github/workflows/test-and-validate.yml

  validate-branch-ahead:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0 # check out full history
      - name: Validate ahead of main
        run: scripts/validate-branch-ahead.sh

  # manual sam deploy is only for production-preview and dev
  # all other environments use secure pipelines and the deploy-to-aws workflow
  validate-sam-deploy-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Validate input environment
        env:
          ENVIRONMENT: ${{ inputs.lowercase-environment }}
        run: if [ "$ENVIRONMENT" = "production-preview" ] || [ "$ENVIRONMENT" = "dev" ]; then true; else false; fi

  get-deployment-role:
    needs: [test-and-validate, validate-branch-ahead, validate-sam-deploy-environment]
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.get-role-name.outputs.name }}
    steps:
      - id: get-role-name
        env:
          ENVIRONMENT: ${{ inputs.lowercase-environment }}
        run: |
          if [ "$ENVIRONMENT" = "production-preview" ]; then
            NAME="PRODUCTION_PREVIEW_ENVIRONMENT_DEPLOY_ROLE_ARN"
          elif [ "$ENVIRONMENT" = "dev" ]; then
            NAME="DEV_ENVIRONMENT_DEPLOY_ROLE_ARN"
          else
            exit 1
          fi
          echo "name=$NAME" >> $GITHUB_OUTPUT

  deploy-main-application:
    needs: [get-deployment-role]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- main
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[needs.get-deployment-role.outputs.name] }}
      - name: Deploy stack
        env:
          AWS_RETRY_MODE: adaptive
          PARAMETER_OVERRIDES: 'Environment=${{ inputs.lowercase-environment }} VpcStackName=none CodeSigningConfigArn=none PermissionsBoundary=none TestRoleArn=none'
        run: sam deploy --region eu-west-2 --stack-name dap --parameter-overrides "$PARAMETER_OVERRIDES" --resolve-s3 --no-confirm-changeset --no-fail-on-empty-changeset

  deploy-quicksight-access-application:
    needs: [get-deployment-role]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- quicksight-access
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[needs.get-deployment-role.outputs.name] }}
      - name: Deploy stack
        env:
          AWS_RETRY_MODE: adaptive
          PARAMETER_OVERRIDES: 'Environment=${{ inputs.lowercase-environment }} VpcStackName=none CodeSigningConfigArn=none PermissionsBoundary=none TestRoleArn=none'
        run: sam deploy --region eu-west-2 --stack-name dap-quicksight-access --parameter-overrides "$PARAMETER_OVERRIDES" --resolve-s3 --no-confirm-changeset --no-fail-on-empty-changeset

  deploy-core-application:
    needs: [get-deployment-role]
    if: ${{ inputs.core-iac-changed == 'true' }}
   # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci
      - name: Build lambdas
        run: npm run build
      - name: Build SAM template
        run: npm run iac:build -- core
      - name: SAM setup
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: SAM build
        run: sam build
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets[needs.get-deployment-role.outputs.name] }}
      - name: Deploy stack
        env:
          AWS_RETRY_MODE: adaptive
          PARAMETER_OVERRIDES: 'Environment=${{ inputs.lowercase-environment }} VpcStackName=none CodeSigningConfigArn=none PermissionsBoundary=none TestRoleArn=none'
        run: sam deploy --region eu-west-2 --stack-name dap-core --parameter-overrides "$PARAMETER_OVERRIDES" --resolve-s3 --no-confirm-changeset --no-fail-on-empty-changeset
