name: ✳️ Test and validate iac and lambdas

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  test-and-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: Node setup
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4
        with:
          node-version: 22
          cache: npm
      - name: Install node packages
        run: npm ci

      # js and ts
      - name: JS/TS linting and formatting
        run: npm run lint:check
      - name: Run lambda tests
        run: npm run test
      # iac
      - name: IaC formatting checks
        run: npm run iac:format:check
      - name: Script formatting checks
        run: npm run scripts:format:check
      - name: SAM setup
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800 # v2
        with:
          use-installer: true
          version: 1.134.0
      - name: IaC linting checks
        run: npm run iac:lint
      - name: Checkov actions scan
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61 # v12
        with:
          config_file: .checkov.ci.yml
          directory: iac-dist
          quiet: true
          baseline_branch: main

      # scripts
      - name: Script formatting checks
        run: npm run scripts:format:check

  build-and-release-etl-job:
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v5
        with:
          python-version: '3.11'
      - name: Build release distributions
        run: scripts/build-and-deploy-etl.sh dev local
