name: ✳️ Upload Athena files to S3

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: AWS environment
        options: [DEV, BUILD, STAGING, INTEGRATION]

jobs:
  validate-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Validate input environment
        run: scripts/validate-environment.sh ${{ inputs.environment }}

  build-and-release-etl-job:
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v5
        with:
          python-version: "3.11"
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.ELT_METADATA_UPLOAD_ROLE_ARN }}
      - name: Build release distributions
        run: scripts/build-and-deploy-etl.sh ${{ inputs.environment }} remote
          
  upload-athena-to-s3:
    needs: [validate-environment, build-and-release-etl-job]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.ELT_METADATA_UPLOAD_ROLE_ARN }}
      - name: Upload athena files to S3
        run: scripts/athena-upload.sh ${{ inputs.environment }}
