name: Upload a testing image to ECR

on:
  workflow_call:
    inputs:
      test-type:
        type: string
        required: true

jobs:
  get-repository-secret-name:
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.get-name.outputs.name }}
    steps:
      - id: get-name
        env:
          TEST_TYPE: ${{ inputs.test-type }}
        run: echo "name=ECR_REPOSITORY_$(echo $TEST_TYPE | tr '[:lower:]' '[:upper:]')" >> $GITHUB_OUTPUT

  upload-testing-image:
    needs: [get-repository-secret-name]
    # These permissions are needed to interact with GitHub's OIDC Token endpoint (enabling the aws-actions/configure-aws-credentials action)
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Assume AWS GitHub actions role
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN_BUILD }}
      - id: login-ecr
        name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: 'true'
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
        with:
          cosign-release: v2.1.1
      - name: Build, tag, and push testing image to Amazon ECR
        env:
          CONTAINER_SIGN_KMS_KEY: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets[needs.get-repository-secret-name.outputs.name] }}
          IMAGE_NAME: dap-${{ inputs.test-type }}-tests
          IMAGE_TAG: latest
        run: |
          docker build -f tests/${{ inputs.test-type }}-tests/scripts/Dockerfile -t $IMAGE_NAME:$IMAGE_TAG .
          docker tag $IMAGE_NAME:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          cosign sign --key awskms:///${CONTAINER_SIGN_KMS_KEY} $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
